body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9ffb3;
    font: 16px sans-serif;
}
h1 {
    color: green;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
}